.card {
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  width: 282px;
  height: 282px;
}
.card__description {
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  background-color: #fff;
}
.card__title {
  margin: 0;
  line-height: 29px;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
