.form {
  position: relative;
  color: #000;
  background-color: #fff;
  width: 100%;
  border: 0px;
  border-radius: 10px;
  padding: 34px 36px 36px;
  display: flex;
  flex-direction: column;
}
.form__title {
  line-height: 24px;
  /* The 54px gap from the design, subtracting the 12px from the form__field padding */
  margin: 0 0 42px;
}
.form__fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
}
.form__input {
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  padding: 12px 0 12px 2px;
  margin: 0;
  border: 0;
  outline-color: #000;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.form__submit {
  margin-top: 48px;
}

@media screen and (max-width: 700px) {
  .form__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 520px) {
  .form {
    padding: 25px 22px;
  }
  .form__title {
    font-size: 18px;
    line-height: 22px;
    /* The 75px gap from the design, subtracting the 12px from the form__field padding */
    margin: 0 0 63px;
  }
  .form__submit {
    margin-top: 45px;
    font-size: 14px;
    height: 46px;
  }
}
