.header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 934px) {
  .header {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 850px) {
  .header {
    /* Width of the gallery. The gallery width was chosen as the horizontal bounds for this resolution for a better aesthetic presentation. */
    max-width: 604px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 100%;
  }
  .header__logo {
    width: 147px;
    height: 28px;
    margin: 0 0 31px 40px;
  }
}

@media screen and (max-width: 520px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 31px 27px;
  }
}
