.image-popup__container {
  max-width: min-content;
}
.image-popup__window {
  position: relative;
  width: max-content;
  max-width: 75vw;
  display: flex;
}
.image-popup__image {
  object-fit: contain;
  width: min-content;
  max-height: 75vh;
  max-width: 100%;
}
.image-popup__text {
  position: absolute;
  height: min-content;
  width: max-content;
  max-width: 100%;
  margin: 0px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* 10px gap from the design + 12px font size */
  bottom: -22px;
}

@media screen and (max-width: 934px) {
  .image-popup__close {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -30px;
  }
}
