.page {
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.page__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
  position: relative;
}
.page__header {
  margin: 45px auto 40px;
}
.page__footer {
  margin: 67px auto 60px;
}
.page__modal-window {
  top: 0;
}

@media screen and (max-width: 934px) {
  .page__content {
    /* side margins equal to the gallery grid gap */
    margin: 0 40px;
    max-width: calc(100% - 80px);
  }
  .page__header {
    margin: 45px 50px 40px;
  }
  .page__footer {
    margin: 67px 50px 60px;
  }
}

@media screen and (max-width: 850px) {
  .page__header {
    margin: 45px auto 40px;
  }
  .page__footer {
    max-width: 604px;
    margin: 67px auto 60px;
  }
}

@media screen and (max-width: 700px) {
  .page__content {
    margin: 0 19px;
    max-width: calc(100% - 38px);
    min-width: 282px;
  }
  .page__header {
    margin: 28px 0 42px;
  }
  .page__footer {
    margin: 48px 0 36px;
  }
}
