.profile {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding-bottom: 51rem;
}
.profile__avatar {
  height: 120rem;
  width: 120rem;
  margin-right: 30rem;
}
.profile__info {
  display: grid;
  max-width: 415rem;
  grid-template-areas:
    "name button"
    "description description";
  grid-template-columns: minmax(auto, 373rem) auto;
  gap: 7rem 18rem;
}
.profile__name {
  grid-area: name;
  font-size: 42rem;
  line-height: 48rem;
  font-weight: 500;
  margin: 0;
}
.profile__edit-button {
  grid-area: button;
  height: 24rem;
  width: 24rem;
  margin-top: 15rem;
}
.profile__description {
  grid-area: description;
  font-size: 18rem;
  line-height: 22rem;
  margin: 0;
}
.profile__add-button {
  height: 50rem;
  width: 150rem;
  margin: 13rem 0 14rem auto;
}

@media screen and (max-width: 850px) {
  .profile {
    grid-template-areas:
      "avatar info"
      "button button";
    justify-content: center;
    gap: 36rem 0;
  }
  .profile__avatar {
    grid-area: avatar;
    /* Set equal to the column gap */
    margin-right: 18rem;
  }
  .profile__info {
    grid-area: info;
    max-width: 604rem;
    /* aligns the left edge of the info with the button in the two column widths */
    margin-right: 8rem;
  }
  .profile__add-button {
    grid-area: button;
    background: url(../images/icon-add_large.svg);
    width: 282rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  .profile__avatar {
    margin-right: 18rem;
  }
  .profile__info {
    width: min-content;
    column-gap: 18rem;
  }
  .profile__name {
    font-size: 34rem;
    line-height: 34rem;
    width: max-content;
  }
  .profile__edit-button {
    margin: 0;
    align-self: center;
  }
  .profile__description {
    font-size: 16rem;
    line-height: 18rem;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-bottom: 36rem;
  }
  .profile__avatar {
    margin: 0 0 30rem;
  }
  .profile__info {
    margin: 0 0 36rem 0;
    justify-items: center;
    align-items: center;
    grid-template-columns: max-content max-content;
    gap: 14rem 0rem;
  }
  .profile__name {
    font-size: 22rem;
    line-height: 22rem;
    /* Offset the name by the size of the edit button plus the gap between the name and button in order to center it */
    margin-left: 28rem;
  }
  .profile__edit-button {
    /* Bottom margin to align the button with the text */
    margin: 0 0 3rem 10rem;
    height: 18rem;
    width: 18rem;
    background: url(../images/icon-edit_small.svg);
  }
  .profile__description {
    justify-self: center;
    font-size: 14rem;
    line-height: 14rem;
  }
}
